/** CSS STYLE **/
body{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Neucha;
  src: url('../fonts/Neucha-Regular.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}
.white{
  color:#fff;
}
.white-trans{
  color: #d7ccc0;
}
.light{
  color: #f5f4f0;
}
.primary{
  color: #fe8a02;
}
.primary-dark{
  color: #42413c;
}
.dark{
  color:  #2a2626;
}
.dark-trans{
  color: #908d8b;
}
.brown {
  color: #b09a81;
}
.blue{
  color: #1085c5
}
.text-main{
  font-family: OpenSans;
  font-size: 16px;
  line-height: 25.6px;
}
h1,h2,h3 {
  font-family: Neucha;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 72px;
}
h2{
  font-size: 60px;
}
h3{
  font-size: 34px;
}
.section {
  padding: 100px 0 100px 0;
}
.content{
  position: relative;
  z-index: 1000;
}
.section_bright{
  background: #f5f4f0;
}
.section_bg::before{
  background: url('../images/background.png');
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}
.header__picture{
  height: 525px;
  position: absolute;
  top: -45px;
  right: -273px;
  z-index: 3;
}
.header__title{
  position: relative;
  z-index: 4;
  margin-bottom: 185px;
}
.columns{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.column{
  width: calc(50% - 15px);
}
.link{
  text-decoration: none;
  padding: 12px 24px 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #fe8a02;
}
.header__link{
  display: inline-block;
  margin-top:25px ;
}
.text-center{
  text-align: center;
}
.distortion{
  display: flex;
  margin-bottom: -200px;
}
.distortion__header{
  margin-bottom: 30px;
}
.video{
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
